hr{
    margin: 0;
}
.rodape{
    background-color: #F9F9F9;
    padding: 1em;
}
.lista-rodapé {
    display: none;
}

@media screen and (min-width: 1024px){
    .lista-rodapé {
        display: block;
    }
    
    .rodape{
        display: flex;
        justify-content: space-between;
        
    }
    .lista-rodapé__item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }
    .lista-rodapé__titulo{
        font-size: 14px;
        text-transform: uppercase;
        color: var(--cinza-claro);

    }
    .lista-rodapé__link{
        text-decoration: none;
        color: var(--cor-rodape);
        margin-left: 0.6em;
    }
    .rodape__titulo{
        font-size: 24px;
    }
}
@media screen and (min-width: 1728px){
    .lista-rodapé{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
    .rodape{
        padding: 3em 0;
    }
}